{% extends "layout.njk" %}

{% block content %}

    <div class="card details-table">

        <article class="table_header">

            <a href="/instructors/create">Novo</a>
        
            <h3>Instrutores</h3>
        
        </article>

        

        <table width="100%">
            <thead>

                <tr>
                    <th>Instructor</th>
                    <th>Service(s)</th>
                    <th>Ação</th>
                </tr>
            
            </thead>

            <tbody>
            
                {% for instructor in instructors %}

                    <tr>
                        
                        <td><span style="background-image: url({{ instructor.avatar_url }})"></span> {{ instructor.name }}</td>
                        <td>{{ instructor.services }}</td>
                        <td><a href="/instructors/{{ instructor.id }}">VER</a></td>
                        
                    </tr>

                {% endfor %}
            
            </tbody>
        
        </table>
        
    </section>

    </div>

{% endblock content %}