    <article class="item">
            
        <div>Avatar URL</div>

        <div>

        <input type="url" name="avatar_url" placeholder="http://" value="{{ instructor.avatar_url }}" />

        </div>

    </article>

    <article class="item">

        <div>Instrutor</div>

        <div>

            <input type="text" name="name" placeholder="Nome do instrutor" value="{{ instructor.name }}" />

        </div>

    </article>

    <article class="item">

        <div>Data de nascimento</div>

        <div>

            <input type="date" name="birth" value="{{ instructor.birth }}" />

        </div>

    </article>

    <article class="item">

        <div>Sexo</div>

        <div>

            <span> 

                <input type="radio" name="gender" id="masc" value="M" {% if instructor.gender =="M" %}
                checked
                {% endif %} /> <label for="masc"> Masculino </label>

            </span>

            <span> 

                <input type="radio" name="gender" value="F" id="fem" {% if instructor.gender == "F" %}
                checked
                {% endif %} /> <label for="fem"> Feminino </label>

            </span>

        </div>

    </article>

    <article class="item">

        <div>Área de atuação</div>

        <div>

            <input type="text" name="services" placeholder="Separe os serviços por vírgula" value="{{ instructor.services }}" />

        </div>

    </article>

    <button type="submit">Salvar</button>