{% extends "layout.njk" %}

{% block content %}

    <div class="card details-table">

        <article class="table_header">

            <a href="/members/create">Novo</a>
        
            <form action="/members" method="get">

                <input name="filter" value="{{ filter }}" placeholder="Pesquisar nome ou e-mail">

                <button type="submit">Pesquisar</button>

            </form>
            
        </article>

        <table width="100%">
            <thead>

                <tr>
                    <th>Membro</th>
                    <th>E-mail</th>
                    <th>Peso</th>
                    <th>Altura</th>
                    <th>Ação</th>
                </tr>
            
            </thead>

            <tbody>
            
                {% for member in members %}

                    <tr>
                        
                        <td><span style="background-image: url({{ member.avatar_url }})"></span> {{ member.name }}</td>
                        <td>{{ member.email }}</td>
                        <td>{{ member.weight }}Kg</td>
                        <td>{{ member.height }}cm</td>
                        <td><a href="/members/{{ member.id }}">VER</a></td>
                        
                    </tr>

                {% endfor %}
            
            </tbody>
        
        </table>
        
        <div class="pagination" data-page={{ pagination.page }} data-total={{ pagination.total }} data-filter= {{ filter }}></div>

    </div>

{% endblock content %}